---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Cobertura">
	
    <div class="w-full h-screen sm:w-3/4 m-auto sm:h-[40rem] xl:h-[60rem] my-2"> 
        <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1fiTbHI49QP_VBMhTiWRWm0wnnWlZKao&ehbc=2E312F&noprof=1" 
        class=" w-full h-full" ></iframe>
    </div>
</Layout>