---
import { Image } from "astro:assets";
---

<footer
    class="w-full flex flex-col px-10 md:px-24 md:flex-row justify-between items-center mt-8 "
    style=" background-color: #212121"
>
    <div class="flex flex-col py-10 gap-7">
        <a href="../../public/docs/CONSTANCIA COBERTURA-ONFIBER.pdf" target="_blank">Constancia de coberturra</a>
        <a href="../../public/docs/autorizacion.pdf" target="_blank">Autorizaci贸n</a>
        <a href="../../public/docs/privacidad.pdf" target="_blank">Aviso de privacidad</a>
        <a href="../../public/docs/codigo.pdf" target="_blank">C贸digo de practica comercial</a>
        <a href="../../public/docs/inscripci贸n de registro publico.pdf" target="_blank">Inscripci贸n en el registro publico de concesiones</a>
    </div>
    <div>
        <div
            class="flex flex-row items-center gap-7 justify-center md:justify-end py-4"
        >
            <span class="text-2xl">ONFIBER SA DE CV</span>
            <svg
                id="Capa_3"
                data-name="Capa 3"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="200 140 400 350"
                class="w-1/4 sm:w-1/5 md:w-1/5"
                ><defs
                    ><style>
                        .cls-1 {
                            fill: #d08dea;
                        }

                        .cls-2 {
                            fill: #fff;
                        }
                    </style></defs
                ><circle class="cls-2" cx="321.32" cy="169.15" r="23.91"
                ></circle><circle
                    class="cls-2"
                    cx="446.97"
                    cy="224.91"
                    r="23.91"></circle><circle
                    class="cls-2"
                    cx="358.4"
                    cy="280.15"
                    r="23.91"></circle><circle
                    class="cls-2"
                    cx="234.63"
                    cy="342.92"
                    r="23.91"></circle><circle
                    class="cls-2"
                    cx="332.49"
                    cy="399"
                    r="23.91"></circle><circle
                    class="cls-2"
                    cx="459.72"
                    cy="455.76"
                    r="23.91"></circle><rect
                    class="cls-1"
                    x="353.46"
                    y="154.41"
                    width="142.3"
                    height="31"
                    rx="15.5"></rect><rect
                    class="cls-1"
                    x="476.79"
                    y="209.41"
                    width="76.59"
                    height="31"
                    rx="15.5"></rect><path
                    class="cls-1"
                    d="M416.44,224.65a15.53,15.53,0,0,1-15.5,15.5H250.85a15.21,15.21,0,0,1-2.35-.18h-6.43A12.12,12.12,0,0,0,230,252.09v.6a12.12,12.12,0,0,0,12.11,12.12h70a15.5,15.5,0,0,1,0,31H248.45a43.33,43.33,0,1,1,0-86.66c.48,0,1,0,1.45,0,.31,0,.63,0,.95,0H400.94A15.54,15.54,0,0,1,416.44,224.65Z"
                ></path><rect
                    class="cls-1"
                    x="227.38"
                    y="384.5"
                    width="76.59"
                    height="31"
                    rx="15.5"></rect><rect
                    class="cls-1"
                    x="284.79"
                    y="439.26"
                    width="141.85"
                    height="31"
                    rx="15.5"></rect><rect
                    class="cls-1"
                    x="388.79"
                    y="264.65"
                    width="188.09"
                    height="31"
                    rx="15.5"></rect><path
                    class="cls-1"
                    d="M592.82,370.75a43.33,43.33,0,0,1-43.33,43.33H380.15a15.5,15.5,0,0,1,0-31H548.9a15.45,15.45,0,0,1,2.27.17h4.7A12.12,12.12,0,0,0,568,371.14v-.6a12.12,12.12,0,0,0-12.11-12.12H281.18a15.5,15.5,0,0,1,0-31H549.49A43.33,43.33,0,0,1,592.82,370.75Z"
                ></path>
            </svg>
        </div>
    </div>
</footer>
