---
const principal = "#D08DEA";
const accent = "#D918F9";

interface Props {
	title?: string;

  descarga?: string;
  desc_text?: string;
}

const { title, descarga, desc_text } = Astro.props;
---

<article class="text-lg lg:text-xl card p-4 max-w-xl rounded-lg border border-purple-900 shadow-md mb-4 transition duration-300 ease-in-out transform hover:-translate-y-2 hover:bg-purple-600 text flex  flex-col justify-around">
 
    <h2 class="text-xl font-bold text-purple-400 mb-2">{title}</h2>
    
      <slot />
    
  
{descarga && (
      <a href={descarga} target="_blank" data-astro-reload class="max-w-52 px-6 py-2.5 bg-purple-500 text-white font-semibold text-sm uppercase rounded shadow-md hover:bg-purple-600 focus:bg-purple-600 active:bg-purple-700 transition duration-150 ease-in-out">
        {desc_text || 'Descargar manual'}
      </a>
    )}    
    
  
</article>

<style>
  .card{
    background-color: #212121;
  } 
  

  .card:hover {
    background-color: #101010;
  }
  

  
</style>
