---
import { Image } from "astro:assets";
---

<nav class="text-white">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <!-- Texto ONFIBER -->
            <h4 class="text-3xl">ONFIBER</h4>
            <!-- Enlaces del menú -->
            <div class="hidden sm:flex">
                <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a
                        href="#"
                        class="hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >COBERTURA</a
                    >
                    <a
                        href="#"
                        class="hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >GUÍA PARA CLIENTES</a
                    >
                </div>
            </div>
            <!-- Mobile menu button -->
            <div
                id="mobile-menu-button"
                class="absolute inset-y-0 right-0 flex items-center sm:hidden"
            >
                <button
                    type="button"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                    aria-controls="mobile-menu"
                    aria-expanded="false"
                    onclick="toggleMenu()"
                >
                    <svg
                        class="block h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        ></path>
                    </svg>
                    <svg
                        class="hidden h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div id="mobile-menu" class="hidden sm:hidden opacity-0 transition-opacity duration-300 ease-in-out">
        <div class="flex flex-col  space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
                href="#"
                class="hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                aria-current="page">COBERTURA</a
            >
            <a
                href="#"
                class="hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >GUÍA PARA CLIENTES</a
            >
        </div>
    </div>
</nav>

<script>
    const mobileMenuButton = document.getElementById(
        "mobile-menu-button",
    ) as HTMLButtonElement;
    const mobileMenu = document.getElementById("mobile-menu") as HTMLElement;

    mobileMenuButton.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
        mobileMenu.classList.toggle("opacity-100");
    });
</script>