---
interface Props {
	title: string;
}
import '@fontsource/chakra-petch';
import '@fontsource/titillium-web';
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<Navbar/>
	<body>
		
		<slot />

	</body>
	<Footer/>
</html>
<style is:global>
	:root {
		color-scheme: dark dark;
		--principal: #d08dea;
		--accent: #D918F9;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	
	html {
		font-family: 'Chakra Petch', 'Titillium Web', sans-serif;
		background: #000;
		background-size: 224px;
	}
	code {
		font-family:
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
